.root {
    -fx-background-color: #BCCED4;
}

.text {
    -fx-font-family: "Calibri";
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.button {
    -fx-text-fill: white;
    /*-fx-font-family: "Arial Narrow";*/
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.combo-box-popup .list-view .list-cell .text {
    -fx-prompt-text-fill: #2A5058;
}

#intro-header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
    -fx-fill: #2A5058;
    /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#intro-text {
    -fx-font-size: 14px;
    /*-fx-font-family: "Arial Black";*/
    -fx-font-family: "Calibri";
    -fx-fill: #333333;
    /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#intro-msg {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri";
    -fx-fill: #2A5058;
}

#seperator {
    -fx-background-color: #2A5058;
    /*-fx-border-color: #333333;*/
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
}

#prediction-output {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #2A5058;
    -fx-font-family: "Calibri";
}